@use '../../../../scss/colores';

//lead mobile en tab portabilidad
@media (max-width: 768px) {
  .lead-mobile {
    margin-top: 261px;
  }

  .main-multiproducto .mainBanner .formHorizontal button {
    width: 130px !important;
    padding-left: 22px;
  }

  .mainBanner .formHorizontal .form-control-center {
    width: 302px !important;
  }
}

/*
*** Beginning of Sticky footer styles
*/
@media (max-width: 768px) {
  .sticky-llama-txt-desktop {
    display: none;
  }
}

.sticky-llama-txt-mobile {
  display: none;
}

@media (max-width: 768px) {
  .sticky-llama-txt-mobile {
    display: block;
  }
}

.sticky-btn-txt {
  color: colores.$blanco;
  margin-bottom: 0;
  margin-left: 10px;
}

.sticky-link {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.sticky-footer-right-container {
  display: flex;
  align-items: center;
}

.sticky-footer-right-btn {
  border: 2px solid colores.$blanco;
  border-radius: 50px;
  height: 45px;
  width: 255px;
}

@media (max-width: 768px) {
  .sticky-footer-right-btn {
    width: 160px;
  }
}

.sticky-txt-0800-num {
  color: colores.$blanco;
  font-size: 23px;
  margin-left: 5px;
}

@media (max-width: 768px) {
  .sticky-txt-0800-num::before {
    content: '\A';
    white-space: pre;
  }
}

.sticky-txt-0800 {
  align-items: flex-end;
  display: flex;
  font-size: 20px;
  margin: 0;
}

@media (max-width: 768px) {
  .sticky-txt-0800 {
    flex-direction: column;
    align-items: center;
    line-height: 0.6;
    margin-bottom: 5px;
  }
}

.sticky-txt-horario {
  margin: 0;
}

.sticky-footer-left-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  line-height: 1.1;
  justify-content: center;
  margin-right: 50px;
}

.sticky-footer-container {
  background-color: colores.$magenta;
  bottom: 0;
  display: flex;
  height: 65px;
  justify-content: center;
  position: fixed;
  width: 100%;
  z-index: 999;
}

.tel-ventas {
  background-color: colores.$blanco;
  border-radius: 24px;
  padding: 4px 15px;
}

@media (max-width: 768px) {
  .sticky-footer-container {
    height: 90px;
  }

  .tel-ventas {
    padding: 8px 15px 10px;
  }
}
/*
*** Ending of Sticky footer styles
*/

.banner-tab-porta {
  background-image: url(../images/index-portabilidad/banners/banner_porta_alfombra.png);
  background-size: cover;
  height: 400px;
  background-position-y: center;
  text-align: center;
  padding: 0px 25px 70px 60px;
}

@media (max-width: 768px) {
  .banner-tab-porta {
    background-image: url(../images/index-portabilidad/banners/banner_porta_alfombra_mobile.png);
    height: 600px;
    padding: 20px 40px 50px 40px;
    text-align: left;
  }
}

.btn-default-style.btn-purple-bg {
  border: 1px solid colores.$purpura;
  color: #fff;
  background-color: colores.$purpura;
}

.absolute-button-tab-porta {
  position: absolute;
  right: 64px;
  z-index: 900;
  width: 130px !important;
  height: 41px;
  color: white;
  border-bottom-left-radius: 0 !important;
  border-top-left-radius: 0 !important;
  padding: 10px;
}

.contenedor-cuc-home-tab-porta {
  justify-content: center;
  display: flex;
  margin-bottom: -40px;
  margin-top: -35px;
}


@media (max-width: 768px) {
  .contenedor-cuc-home-tab-porta {
    display: block;
    margin: 30px 0 0;
  }
}

.txt-meses-tab-porta {
  top: -28px;
  position: relative;
}

@media (max-width: 768px) {
  .txt-meses-tab-porta {
    font-size: 32px;
  }
}

.error-disclaimer-tab-porta {
  position: absolute;
  top: 65px;
  left: 0;
  font-family: TelefonicaWeb-Light;
  display: block;
  font-size: 14px;
  font-weight: 700;
  text-align: left;
}

.error-tab-porta {
  color: red !important;
  position: absolute;
  top: 65px;
  left: 0;
  font-family: TelefonicaWeb-Light !important;
  display: block;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 30px;
  margin-top: -20px;
  text-align: left;
}

.form-horizontal-tab-porta {
  display: table-cell;
  width: 48%;
  max-width: 590px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 10px;
  position: relative;
  height: 40px;
  min-width: 500px;
}

.form-control-tab-porta {
  width: 68% !important;
  font-family: 'TelefonicaWeb-Regular';
  height: 41px;
  text-align: center;
}

.h1-tab-porta {
  font-family: TelefonicaWeb-Thin;
  color: #fff;
  font-weight: 400;
  font-size: 55px;
}

.lineHeightReducida {
  line-height: 1.2;
}

.mb3 {
  margin-bottom: 3px !important;
}

.mas-tab-porta {
  margin-left: 30px;
  margin-right: 30px;
  font-size: 55px;
}

@media (max-width: 768px) {
  .mas-tab-porta {
    margin-left: 0;
    margin-top: -54px;
    margin-bottom: -25px;
  }
}

.mobile-center-tab-porta {
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  .mobile-center-tab-porta {
    margin-left: -32px;
    margin-top: -19px;
  }
}

.relleno-tab-porta {
  padding: 10px 15px 14px !important;
  height: auto !important;
}

.txt-planes-tab-porta {
  position: relative;
  top: -29px;
}

.text48 {
  font-size: 48px;
  line-height: 48px;
}
